continue
file-allocation=trunc
dir={{ ARIA_DOWNLOAD_DESTINATION }}
max-connection-per-server={{ ARIA_MAX_CON_PER_SERV }}
max-concurrent-downloads={{ ARIA_MAX_CONCUR_DOWNLOADS }}
split={{ ARIA_SPLIT }}
min-split-size={{ ARIA_MIN_SPLIT_SIZE }}