<VirtualHost *:80>
	DocumentRoot /var/www/html

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<IfModule proxy_module>
	<VirtualHost *:80>
	    ServerName {{ APACHE_PLEX_DOMAIN }}

	    ProxyPreserveHost On
	    ProxyPass / http://127.0.0.1:32400/
	    ProxyPassReverse / http://127.0.0.1:32400/

	    ErrorLog ${APACHE_LOG_DIR}/error.log
		CustomLog ${APACHE_LOG_DIR}/access.log combined
	</VirtualHost>
</IfModule>

<VirtualHost *:80>
    ServerName {{ APACHE_ARIA_DOMAIN }}

	DocumentRoot /var/www/html/aria2/docs/

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>